$width: 300px;

.drawer {
    position: fixed;
    top: 0;
    right: -$width;
    z-index: 9999;
    height: 100dvh;
    width: $width;
    background-color: var(--neutral-100, white);
    transition: right .2s ease-in-out;
    padding: 40px 24px;
}

.drawer--open {
    right: 0;
}

.drawer .drawer-toggle {
    position: absolute;
    top: 16px;
    right: 4%;
    z-index: 3;
}

.drawer .drawer-toggle__btn {
    width: 32px;
    height: 32px;
}

.drawer .drawer-toggle__icon {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--neutral-900);
    mask-position: center;
    mask-repeat: no-repeat;
}

.drawer .drawer-content {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .drawer {
        right: -100dvw;
        width: 100dvw;
        padding: 40px 4%;
    }

    .drawer--open {
        right: 0;
    }
}