.my-tickets-page .tickets-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;
}

.my-tickets-page .ticket {
    display: block;
    border: 1px solid var(--neutral-400, lightgrey);
    border-radius: var(--border-radius-m, 8px);
    padding: 16px;
    text-decoration: none;
}

.my-tickets-page .ticket__title, 
.my-tickets-page .ticket__date {
    margin: 0;
}

.my-tickets-page .ticket__title {
    color: var(--neutral-800, black);
    font-size: 1.25rem;
    font-weight: 700;
}

.my-tickets-page .ticket__date {
    color: var(--neutral-700, grey);
    font-weight: 400;
}

.my-tickets-page .tickets-loader {
    display: flex;
    justify-content: center;
}

.my-tickets-page .empty-list {
    text-align: center;
}