@use '@styles/index' as *;

.event-page .event-body {
    margin: 32px 0;
}

.event-page .event-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-m, 16px);
}

.event-page .event-title-wrapper {
    margin: 24px 0;
}

.event-page .event-title {
    text-align: center;
    margin: 0;
}

.event-page .event-desc {
    text-align: center;
    margin: 0;
    color: var(--neutral-700, grey);
}

.event-page .divider {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-400, lightgrey);
    margin: 32px 0;
}

.event-page .event-infos,
.event-page .event-infos__content {
    display: flex;
    flex-direction: column;
}

.event-page .event-infos {
    gap: 8px;
}

.event-page .event-infos__content {
    gap: 16px;
}

.event-page .event-info {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--neutral-800, black);
    font-weight: 700;
}

.event-page .event-info__primary {
    color: var(--neutral-800, black);
    font-weight: 700;
}

.event-page .event-info__secondary {
    color: var(--neutral-700, grey);
}

.event-page .event-info__time-icon {
    @include masked-icon('/icons/calendar_today_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.event-page .event-info__address-icon {
    @include masked-icon('/icons/location_on_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.event-page .event-info__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.event-page .event-time {
    display: flex;
    gap: 16px;
}

.event-page .event-time p {
    margin: 0;
}

.event-page .video-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.event-page .video-wrapper .video {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--border-radius-m, 16px);
}

.event-page .event-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    margin: 24px 0;
    background-color: var(--neutral-100, white);
    border: 1px solid var(--neutral-400, lightgrey);
    border-radius: var(--border-radius-m, 16px);
    padding: 8px;
}

.event-page .event-cta button {
    height: 100%;
    width: 150px;
}

.event-page .event-cta .event-price {
    font-size: 1.25rem;
    font-weight: 700;
}

.event-page .event-cta .event-price--person {
    color: var(--neutral-700, grey);
    font-size: .9rem;
    font-weight: 400;
}