button {
    cursor: pointer;
    color: var(--neutral-800);
    margin: 0;
    padding: 0;
    border-radius: var(--border-radius-m);
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    height: 48px;
}

a.primary {
    text-align: center;
    text-decoration: none;
    color: var(--neutral-800, white);
    border-radius: var(--border-radius-m);
    background-color: var(--primary-500);
    border: 1px solid var(--neutral-800);
    font-weight: 700;
    font-size: 1rem;

    &:hover {
        background-color: var(--primary-600);
    }
}

button.primary {
    background-color: var(--primary-500);
    border: 1px solid var(--neutral-800);

    &:hover {
        background-color: var(--primary-600);
    }
}

button.secondary {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-800);

    &:hover {
        background-color: var(--neutral-300);
    }
}

button.tertiary {
    background-color: var(--neutral-100);
    border: none;

    &:hover {
        background-color: var(--neutral-300);
    }
}

button.alt {
    color: var(--neutral-100);
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-800);

    &:hover {
        background-color: var(--neutral-700);
    }
}

button.google-btn {
    position: relative;

    .google-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../../public/logos/google_logo.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        width: 28px;
        height: 28px;
    }
}

button.apple-btn {
    position: relative;

    .apple-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../../public/logos/apple_logo.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        width: 26px;
        height: 32px;
    }
}