@use '@styles/icons' as icons;

.page .drawer-toggle {
    width: 32px;
    height: 32px;
}

.page .drawer-toggle__icon {
    @include icons.masked-icon('/icons/drag_handle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
