@use '@styles/icons' as icons;

.page .filters-toggle {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb, var(--neutral-100, white) 50%, transparent);
}

.page .filters-toggle__icon {
    @include icons.masked-icon('//icons/filter_list_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}