h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2.75rem;
    margin: 1rem 0;
    color: var(--secondary-500);
}

p {
    margin: 0.75rem 0;
}

a {
    font-weight: 800;
    color: var(--primary-500, green);

    &:hover {
        color: var(--primary-600, green);
    }
}

a.warning {
    color: red;
}

.title-l {
    font-size: 2.3rem;
    font-weight: 900;
}

.title-m {
    font-size: 1.7rem;
    font-weight: 900;
}

.title-s {
    font-size: 1.5rem;
    font-weight: 900;
}

.title-xs {
    font-size: 1.25rem;
    font-weight: 900;
}

.subtitle-l {
    font-size: 2.3rem;
}

.subtitle-m {
    font-size: 1.7rem;
}

.subtitle-s {
    font-size: 1.5rem;
}

.subtitle-xs {
    font-size: 1.25rem;
}