.modal {
    position: fixed;
    left: 0;
    bottom: -100dvh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-100, #fff);
    width: 100dvw;
    height: 100dvh;
    transition: bottom .2s ease-in-out;
    border: 1px solid var(--neutral-400, lightgrey);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
}

.modal--open {
    bottom: 0;
}

.modal-toggle {
    position: absolute;
    top: 11px;
    right: 16px;
    z-index: 3;
}

.modal-header {
    margin: 0 16px;
}

.modal-header__title-wrapper {
    padding: 16px 0;
    border-bottom: 1px solid var(--neutral-400, lightgrey);
}

.modal-header p {
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.modal-wrapper {
    max-width: 992px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal-toggle__btn {
    width: 32px;
    height: 32px;
}

.modal-toggle__icon {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--neutral-900);
    mask-position: center;
    mask-repeat: no-repeat;
}