.recover-password-page {
    height: 100dvh;
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover-password-page .recover-password {
    width: 100%;
}

.recover-password-page .recover-password__title {
    margin: 0 0 48px 0;
}

.recover-password-page .recover-password__title,
.recover-password-page .recover-password__footer {
    text-align: center;
}

.recover-password-page .recover-password__form,
.recover-password-page .recover-password__btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recover-password-page .recover-password__divider {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.recover-password-page .recover-password__divider .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--neutral-500, lightgrey);
}