.snackbar-container {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 576px) {
    .snackbar-container {
        width: 92%;
    }
}