@use '@styles/index' as *;

.discount-page .discount-body {
    margin: 32px 0;
}

.discount-page .discount-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-m, 16px);
}

.discount-page .discount-title__wrapper {
    margin: 24px 0;
}

.discount-page .discount-title {
    text-align: center;
    margin: 0;
}

.discount-page .discount-desc {
    text-align: center;
    margin: 0;
    color: var(--neutral-700, grey);
}

.discount-page .divider {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-400, lightgrey);
    margin: 32px 0;
}

.discount-page .discount-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.discount-page .discount-contact {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--neutral-800, black);
    font-weight: 400;
}

.discount-page .discount-contact__email-icon {
    @include masked-icon('/../../../../public/icons/mail_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.discount-page .discount-contact__phone-icon {
    @include masked-icon('/../../../../public/icons/call_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.discount-page .discount-contact__address-icon {
    @include masked-icon('/../../../../public/icons/location_on_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.discount-page .discount-contact__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}