.pwabanner {
    margin: 0 0 32px 0;
}

.pwabanner .pwa-btn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 40px;
}

.pwabanner .download-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    transform: translateY(-50%);
    mask-image: url('/icons/download_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
    background-color: black;
    mask-position: center;
    mask-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.pwabanner .pwa-popover {
    position: relative;
    width: 400px;
    border: 1px solid var(--neutral-400);
    border-radius: 8px;
    padding: 24px;

    &::backdrop {
        background-color: color-mix(in srgb, var(--neutral-900) 33%, transparent);
    }
}

.pwabanner .popover__close {
    position: absolute;
    top: 16px;
    right: 4%;
    z-index: 3;
    width: 32px;
    height: 32px;
}

.pwabanner .popover__icon {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--neutral-900);
    mask-position: center;
    mask-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
    .pwabanner .pwa-popover {
        width: 92%;
    }
}