@use '@styles/index' as *;

.events-page .filters-toggle {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 999;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-page .filters-icon {
    display: flex;
    @include masked-icon('/icons/filter_list_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg', var(--neutral-800, black));
}

.events-page .drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.events-page .events-title {
    margin: 0 0 40px 0;
    text-align: center;
}

.events-page .events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    column-gap: 24px;
    row-gap: 40px;
}

@media screen and (max-width: 992px) {
    .events-page .events-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .events-page .events-list {
        grid-template-columns: repeat(1, 1fr);
    }
}