@use '@styles/index' as *;

.events-page .events-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    column-gap: 24px;
    row-gap: 40px;
    margin: 32px 0;
}

.events-page .events-list__empty {
    text-align: center;
}

.events-page .events-list__loader {
    display: flex;
    justify-content: center;
}

.events-page .filter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.events-page .filter-form__category-name {
    margin: 0 0 16px 0;
    font-weight: 700;
}

.events-page .filter-form__radio {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

@media screen and (max-width: 992px) {
    .events-page .events-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .events-page .events-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .events-page .events-list {
        grid-template-columns: repeat(1, 1fr);
    }
}