.slider {
    position: relative;
}

.slider .slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, .25);
    border: none;
}

.slider .slider__button--left {
    left: 0;
}

.slider .slider__button--right {
    right: 0;
}

.slider .slider__icon {
    display: flex;
    background-color: var(--neutral-100, white);
    mask-position: center;
    mask-repeat: no-repeat;
    height: 100%;
    width: 100% !important;
}

.slider .slider__button--left .slider__icon {
    mask-image: url('/icons/chevron_left_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}

.slider .slider__button--right .slider__icon {
    mask-image: url('/icons/chevron_right_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}

.slider .slider__content {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.slider .slider__content>* {
    scroll-snap-align: start;
    flex-shrink: 0;
}

@media (pointer: coarse) {
    .slider .slider__button {
        display: none;
    }
}